<h1>Index des médias</h1>

<h2>Listes des livres</h2>

{#{% for book in books %}#}
    {#<li>{{ book }}</li>#}
{#{% endfor %}#}

{#<h2>Listes des films</h2>#}

{#{% for movie in movies %}#}
    {#<li>{{ movie }}</li>#}
{#{% endfor %}#}

<body></body>